doctype html  
html(lang='pt')  
  head
    title PILAR.CARE
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="static/style.css")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.6.6/lottie.min.js")
    script(type="text/javascript", src="static/game.js")
  body#main
    header
      .top 
        h1 PILAR.CARE
        button(onclick="openMenu()")
          img(src="static/img/menu.png")
      .menu
        .modes
          button(onclick="setMode(3)") Melhor de 3  
          button(onclick="setMode(5)") Melhor de 5  
    #content-play
      .gameExecuting
        #computer.computer
        #user.user
      #content-anim
      #content-scoreboard 0 x 0
      #content-msg
      .controls
        button.pedra(onclick="play('pedra')")
          img(src="static/img/pedra.png", alt="pedra")  
        button.papel(onclick="play('papel')")
          img(src="static/img/papel.png", alt="papel")  
        button.tesoura(onclick="play('tesoura')")
          img(src="static/img/tesoura.png", alt="tesoura")  