doctype html  
html(lang='pt')  
  head
    title PILAR.CARE
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="static/style.css")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.6.6/lottie.min.js")
    script(type="text/javascript", src="static/game.js")
  body
    header 
      h1 PILAR.CARE
    #content-play
      .gameExecuting
        .computer
        .user
      #content-anim
      .controls
        button.pedra
          img(src="static/img/pedra.png", alt="pedra", srcset="")  
        button.papel
          img(src="static/img/papel.png", alt="papel", srcset="")  
        button.tesoura
          img(src="static/img/tesoura.png", alt="tesoura", srcset="")  