@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(//fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

* {
    font-family: 'Open Sans';
} 

html,body{
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
    background:#FFC107;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #1111110f;
    transition:height 0.5s ease-out;
    
}

.open-menu header {
    height: 100%; 
}

header h1{
    color:#000;
    margin:0;
}

header button{
    background: transparent;
    border:none;
    width: 50px;
}

header button img{
    width: 100%;
}

header .menu{
    width: 60%;
    display: none;
}

header .top{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.open-menu header .menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

#content-scoreboard{
    position: absolute;
    width: 10%;
    font-size: 3em;
}

header .modes {
    width: 100%;
    overflow: hidden;
}

header .modes button {
    background: #06060680;
    position: relative;
    border: 1px solid #000;
    padding: 2px;
    width: 40%;
    margin: 5%;
    color: white;
    cursor: pointer;
}

.open-menu #content-play{
    display: none !important;
}

#content-play{
    width: 80%;
    min-width: 300px;
    display: flex;
    /* align-items: center; */
    place-content: flex-start;
    justify-content: center;
    min-height: 600px;
    flex-wrap: wrap;
    position: relative;
}

.user, .computer{
    background: #524d4b;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid #fe5921;
    box-shadow: 0px 0px 1px 2px #fe5921;
}

.user img, .computer img  {
    width: 100%;
}

.computer img {
    transform: rotate(180deg);
}

.computer {
    z-index: 999999;
    width: 150px;
    height: 150px;
    margin-bottom: -50px;
    position: relative;
}

#content-play #content-anim{
    position:absolute;
    width: 100%;
    height: 60%;
    left:0;
    top:0;
    z-index: 99999999;
}

.gameExecuting {
    margin-bottom: -5%;
    background: #f1b708;
    padding: 17px;
    border-radius: 38%;
    margin-top: 10px;
    margin-right: 15%;
}

#content-scoreboard {
    position: absolute;
    width: 21%;
    font-size: 5em;
    font-weight: bold;
    right: 0;
    max-width: 100px;
    background: #f1b708;
    color: #6b6a6a;
    text-align: center;
    border-radius: 30px;
}

#content-play .controls{
    width:100%;
    display: flex;
    justify-content: center;
    z-index: 999999999;
}

#content-play .controls button{
    background: transparent;
    border: none;
    width: 15%;
    min-width: 100px;
    outline:none;
}

#content-play .controls button img { width:100% }
#content-play .controls button img:hover{
    background-color: #FF5722;
    border-radius: 50%;
}

#content-play .controls button:nth-child(even) {
    margin-top: 10%;
}

#content-msg {
    position: absolute;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999999999999999;
}

.msg {
    font-size: 2em;
    color: #000;
    text-shadow: 0px 0px 1px #000;
    background: #f1edec;
    border-radius: 10px;
    padding: 0 29px;
    -webkit-animation: fadeinout 2s linear forwards;
    animation: fadeinout 2s linear forwards;
}

@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  30%,60% { opacity: 1; }
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  30%,60% { opacity: 1; }
}